.schedule {
  margin-bottom: 60px;
}
.scheduleTitle {
  font-size: 1.5em;
}

.scheduleContainer {
  background-image: url("../../images/cpyredrocks.png");
  /* position: relative; */
}
.scheduleCardLogoImg {
  width: 60%;
}

.scheduleCardImg {
  width: 85%;
  border-radius: 7px;
}

.scheduleCard {
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #585858;
  margin: 60px 30px 60px 30px;
  padding: 30px;
  box-shadow: 8px 11px 5px -4px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 8px 11px 5px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 8px 11px 5px -4px rgba(0, 0, 0, 0.41);
  font-family: "Arvo", serif;
  color: #585858;
}
.scheduleCardSpan {
  color: #000;
  font-size: 0.85em;
}
.scheduleCardSpan strong {
  color: #585858;
  font-size: 1.5em;
}

.cardFooter {
  margin-top: 10px;
}
.cardFooterLink {
  margin: 20px 10px 0px 10px;
}
