.topLanding {
  width: 100%;
  height: 100vh;
  padding-bottom: 60px;
  position: relative;
  top: -22px;
}

.fullScreen {
  height: 100vh;
  bottom: 220px;
}

.slider .indicators {
  z-index: 9999;
  bottom: 30px;
}
/* Wanted to remove the text, so need to remove background Gray color from h5 */
div.caption.center-align h5 {
  background-color: transparent;
}